.add_list {
    display: flex;
    
    
  }
  
  .add_list_btn {
    margin-top: 2rem;
    margin-left: 4.5rem;
    height: 3.6rem;
   
    background-color: rgb(131,136,145);

    
    width: 18vw;
    
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .cross{
    
    color: black;
    margin-top: 65px;
    font-size: 1.5rem;
    margin-right: -120px;


  }
  .container1{
    height: 100vh !important ;
    width: 100vw;
    
  }
  .add_list_field {
    height: 6.8rem;
    width: 16.8vw;
    margin-left: 4rem;
    margin-top: 2.8rem;
    
  
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(241,242,244);
    border-radius: 0.5rem;
    padding-left: 0.8rem;
  }  
  .text_field {
    height: 2.6rem;
    width: 16.8vw;
    

    margin-right:4px ;
    position: fixed;
    
    border: none;
    margin-top: 10px;
   

    border-radius: 0.1rem;
    font-size: 1rem;
  }
  
  .forms{
    
  }
  .list_btn {
    height: 2.7rem;
    width: 80px;
    background-color: rgb(12,102,228);
    
    color: black;
   
    border: none;
    margin-right: 4rem;
    margin-top: 3.9rem;
  }

  .addbtn{
    width: 90px;
    height: 2.7rem;
    background-color: rgb(12,102,228);
    border: none;
  }
  .container {
      display: flex;
      
      
      
  }
 
  .pencil{
    
     position: relative;
     top: -40px;
     
     left: 240px;


  }
  .input1{
    
    background-color: rgb(241,242,244);
    border: none;
    margin-bottom: 20px;
    

    width: 240px;
  }
  .element{
    /* border: 2px solid blue; */
    border-radius: 6px;
   
    margin-right: 10px;
    background-color: white;
    display: flex;
   
    box-shadow: 0px 0px 1px black;
    height: 40px;

  
   
    width: 270px;
    
  }
  
  .wraperContainer {
    margin-top: 2.8rem;
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
  
    width: 16.8vw;
    background-color: rgb(241,242,244);
    color: black;
    border-radius: 0.6rem;
    width: 18rem;
    border: 2px solid green;
    height: fit-content;
    
  }
  
  .todoContainer {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;
    /* border: 3px solid red; */
    
    width: max-content;

    
  }
  
  .titles {
      display: flex;
      justify-content: space-between;
    border: none;
    font-weight: 500;
    width: max-content;
  }
  .todo_container_list{
    display: flex;
    
    /* border: 2px solid pink; */
   width: 50rem;
   background-color: antiquewhite;
   /* height: 50rem; */
  }
  .form2{

overflow: hidden;
  }
  .input2{

border: none;
border-radius: 5px;
margin-bottom: 16px;
width: 260px;
height: 40px;

overflow: hidden;
  }
  .cartitem{
   
  }
  .cartitem:hover{
    box-shadow: 0px 0px 4px black;
  }
  .horizontalIcons {
   
  }

  .divElement{
    /* border: 2px solid red; */
    height: max-content;
  }

  .dragContainer{
    border: 2px solid blue;
  }